body a{
    color: #000000;
    text-decoration: none;
}

.property-image{
    width:100%; 
    height:auto; 
    border-radius:10px;
}

.center-content {
    width:100%;     
    justify-content: center;
    align-items: center;
}

.center-content h1 {
    color: #000;
    font-size: 25px;
    font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 900;   
    text-align: center; 
    
}